<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Library Books</a>

    <ul>
      <li><a href="/authors/new">User Register</a></li>
      <li><a href="/authors">All Users</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Insert Books</a></li>
    </ul>
  </nav>
</header>